In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/hjoaquim/Documents/applied-ai/ws00/data/archive/IRIS.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
# correlation matrix
df.drop('species', axis=1).corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [8]:
# get the pair with the highest correlation
df.drop('species', axis=1).corr().abs().unstack().sort_values(ascending=False).drop_duplicates()

sepal_length  sepal_length    1.000000
petal_length  petal_width     0.962757
sepal_length  petal_length    0.871754
              petal_width     0.817954
petal_length  sepal_width     0.420516
sepal_width   petal_width     0.356544
              sepal_length    0.109369
dtype: float64

In [14]:
max(df.drop('species', axis=1).iloc[123].tolist())

6.3

In [15]:
df.shape

(150, 5)

In [17]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000